@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/base-neue");

:root {
  font-family: "Inter Tight", serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --white: #ffffff;
  --dark: #0b0b0b;
  --dim-dark :  #171717;
  --gray: #6d6d6d;
  --red: #ff0000;
}

body {
box-sizing: border-box;
  margin: 0;
  color: var(--white);
  background-color: var(--dark);
}

.container {
  max-width: 1400px;
  padding : 2rem;
  margin: 0 auto;
}
  
a {
  color: var(--white);
  text-decoration: none;
  padding: 0;
}
